<div class="container" *ngIf="todos.length">
    <div class="todos">
        <div *ngFor="let todo of todos; let i=index" class="todo">
            <input [id]="i" type="checkbox" class="checkbox" [(ngModel)]="todo.completed" (change)='changeStatus(i)' />
            <label [for]="i">
                <span [ngClass]="{'checked': todo.completed}" class="todoItem">{{ todo.todo }}</span>
                <span (click)="deleteTodo(i)" class="delete">X</span>
                <div class="pills">
                    <span>@{{todo.author}}</span>
                    <span>{{todo.updatedAt ?? todo.createdAt | date:'medium'}}</span>
                </div>
            </label>
        </div>
    </div>
</div>