.container {
  background-color: #fafafa;
  margin: 32px 30%;
  width: 40%;
}
.todo {
  padding: 12px;
  margin: 12px;
  border-bottom: 1px solid #dedede;
  &:last-child {
    border: 0;
  }
}
.todos {
  border: 1px solid #ccc;
}

.todo:hover .delete {
  display: inline-block;
}
.delete {
  cursor: pointer;
  display: none;
  float: right;
}
.delete:hover {
  color: orange;
}
.checkbox {
  margin: 0px 12px;
  width: 28px;
  height: 28px;
  vertical-align: sub;
  border-radius: 50%;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  &:checked {
    background-color: rgb(241, 217, 173);
    border: 1px solid orange;
  }
}
.checked {
  text-decoration: line-through;
  color: rgb(143, 136, 136) !important;
}
.todoItem {
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(228, 147, 40);
}
.pills {
  margin: 18px 64px;
}
.pills span {
  margin-right: 8px;
  padding: 4px 12px;
  border-radius: 20px;
  &:nth-child(1) {
    background-color: rgb(245, 210, 210);
  }
  &:nth-child(2) {
    background-color: rgb(204, 204, 241);
  }
}
